{% extends 'base.html.twig' %}

{% block body %}
	<nav class="navbar navbar-light bg-light">
    <span id="logo" class="btn-answer navbar-brand">
        <img src="{{ asset('img/logo.png') }}" height="55" alt="">
    </span>
        <span class="functionsplus"><a href="{{ path('enquesta_new') }}"><i class="fa fa-plus"></i></a></span>
    <p class="text-right">Bienvenido de nuevo <span id="nameadmin"></span> !<br><a id="backtodash" href="{{ path('homepage') }}" class="btn-answer">Dashboard <i class="fa fa-user-circle"></i></a></p>
	</nav>
	<div class="container">    
	<h1>Llista d'enquestes</h1>
    <table class="tabladmin">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pregunta</th>
                <th>Data inicial</th>
                <th>Data final</th>
                <th>Destacada</th>
                <th>Autor</th>                
                <th>Respostes</th>
                <th>Activa</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enquestum in enquestas | reverse %}
            <tr>
                <td>{{ enquestum.id }}</td>
                <td><a href="{{ path('enquesta_show', { 'id': enquestum.id }) }}">{{ enquestum.pregunta }}</a></td>
                <td>{% if enquestum.dataInici %}{{ enquestum.dataInici|date('Y-m-d') }}{% endif %}</td>
                <td>{% if enquestum.dataFinal %}{{ enquestum.dataFinal|date('Y-m-d') }}{% endif %}</td>
                <td>
                    {% if enquestum.destacada == 1 %}
                        Si
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td>{{ enquestum.autor }}</td>                
                <td>
                    <ul>
                        {% set si, no = 0, 0 %}
                        {% for resposta in respostes %}
                            {% if resposta.idEnquesta == enquestum.id %}
                                {% if resposta.valor == 1 %}
                                    {% set si = si+1 %}
                                {% else %}
                                    {% set no = no+1 %}
                                {% endif %}  
                            {% endif %}
                        {% endfor %}
                        <li> 
                            Si: {{ si }}                            
                        </li>
                        <li>
                            No: {{ no }}
                        </li>
                        <li>
                            Total: {{ si + no }}
                        </li>
                    </ul>
                </td>
                <td>
                    {% if date(enquestum.dataFinal) > date("now"|date("Y/m/d")) %}
                        Si
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('enquesta_edit', { 'id': enquestum.id }) }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<ul>
        <li>
            <a href="{{ path('enquesta_new') }}">Crear una nueva enquesta</a>
        </li>
    </ul>#}
	</div>
<script src="{{ asset('js/adminback.js') }}"></script>
{% endblock %}
