{% extends 'base.html.twig' %}

{% block body %}
<nav class="navbar navbar-light bg-light">
    <span id="logo" class="btn-answer navbar-brand">
        <img src="{{ asset('img/logo.png') }}" height="55" alt="">
    </span>
    <span class="functionsplus"><a href="{{ path('enquesta_index') }}"><i class="fa fa-edit"></i></a></span>
    <p class="text-right">Bienvenido de nuevo <span id="nameadmin"></span> !<br><a id="backtodash" href="{{ path('homepage') }}" class="btn-answer">Dashboard <i class="fa fa-user-circle"></i></a></p>
	</nav>
	<div class="container">  
    <h1>Crear enquesta</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" />
    {{ form_end(form) }}

</div>
	<script src="{{ asset('js/adminback.js') }}"></script>
	<script src="{{ asset('js/validation_enquestes.js') }}"></script>
{% endblock %}
