<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
<nav class="navbar navbar-light bg-light">
    <span id="logo" class="btn-answer navbar-brand">
        <img src="{{ asset('img/logo.png') }}" height="55" alt="">
    </span>
    <p class="text-right">Bienvenido de nuevo <span id="nameadmin"></span> !<br><a href="{{ path('homepage') }}"><span id="logout" class="btn-answer">Logout <i class="fa fa-user-times"></i></span></a></p>
</nav>

<div class="container contentajax userpolllist"></div>

<div class="container cadpoll">
    <hr>
    <p>Finalitzades:</p>

</div>

<script src="{{ asset('js/encuestasUsuario.js') }}"></script>
<script src="{{ asset('js/hascontestado.js') }}"></script>
