<div class="divlogo flex"><img class="logo" src="{{ asset('img/logo.png') }}" alt="logo"></div>
<div class="loginsquare mx-auto" style="width: 25rem;">
    <div class="form-group">
        <label for="user">Nom d'usuari</label>
        <input type="text" class="form-control" id="user" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="pass">Contrasenya</label>
        <input type="password" class="form-control" id="pass" placeholder="Password">
    </div>
    <button id="submit" class="btn">Submit</button>
    <p class="error"></p>
    <p><span id="u">User </span><span id="a"> Admin </span><span style="color: red;"> Borrar luego!</span></p>
</div>
<script src="{{ asset('js/login.js') }}"></script>
<script>
    $("#u").click(rellenauser);
    $("#u, #a").css("cursor", "pointer");
    $("#a").click(rellenadmin);

    function rellenauser(){
        $("#user").val("carles");
        $("#pass").val("carles");
    }
    function rellenadmin(){
        $("#user").val("admin");
        $("#pass").val("admin");
    }
</script>