{% extends '@App/base.html.twig' %}
{% block body %}
    <nav class="navbar navbar-light bg-light">
        <span id="logo" class="btn-answer navbar-brand">
            <img src="{{ asset('img/logo.png') }}" height="55" alt="">
        </span>
	<p class="text-right">Bienvenido de nuevo <span id="nameadmin"></span> !<br><a id="backtodash" href="{{ path('homepage') }}" class="btn-answer">Dashboard <i class="fa fa-user-circle"></i></a></p>
    </nav>
    <div class="container soon">
        <h2>Aun estamos trabajando en ello.</h2>
        <div class="fa-stack fa-4x hourglass-spin">
		  <i class="fa fa-stack-1x fa-hourglass-start"></i>
		  <i class="fa fa-stack-1x fa-hourglass-half"></i>
		  <i class="fa fa-stack-1x fa-hourglass-end"></i>
		  <i class="fa fa-stack-1x fa-hourglass-end spin"></i>
		</div>
    </div>
	
{% endblock %}
