{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuari</h1>

    <table>
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ usuari.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ usuari.password }}</td>
            </tr>
            <tr>
                <th>Admin</th>
                <td>{% if usuari.admin %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ usuari.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuari_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('usuari_edit', { 'id': usuari.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
