<nav class="navbar navbar-light bg-light">
    <span id="logo" class="btn-answer navbar-brand">
        <img src="{{ asset('img/logo.png') }}" height="55" alt="">
    </span>
    <p class="text-right">Bienvenido de nuevo <span id="nameadmin"></span> !<br><a href="{{ path('homepage') }}"><span id="logout" class="btn-answer">Logout <i class="fa fa-user-times"></i></span></a></p>
</nav>
<div class="container">
    <div class="row admindash">
        <div class="text-center col-sm">
            <i class="fa fa-plus"></i>
            <p>Añadir Encuesta</p>
        </div>
        <div class="text-center col-sm">
            <i class="fa fa-edit"></i>
            <p>Editar Encuesta</p>
        </div>
        <div class="text-center col-sm">
            <i class="fa fa-cogs"></i>
            <p>Opciones de Administrador</p>
        </div>
    </div>
</div>
<script src="{{ asset('js/admindash.js') }}"></script>